.block1 h4 {
    background-color: darkblue; 
    color: white;    
}

.block1 p  {
    background-color: darkblue; 
    color: white; 
}

.block2 h4 {
    background-color: darkblue; 
    color: white;    
}

.block2 p  {
    background-color: darkblue; 
    color: white; 
}