body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-3 {
    box-sizing: border-box;
    border: 1px solid green;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 24px;
  }

@media (min-width: 992px) {
    .col-lg-3 {
        width: 25%;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-3 {
        width: 50%;
    }
}

/* Small devices */
@media (max-width: 767px) {
    .col-lg-3 {
        width: 100%;
    }
}
